<!-- multistep form -->
<form id="msform">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">약관 동의</li>
        <li>기본 정보</li>
        <li>위치 정보</li>
        <li>이미지 등록</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">STEP 1</h2>
        <h3 class="fs-subtitle">아래 약관을 읽고 동의해주세요</h3>
        <div ng-repeat="term in terms track by $index">
            <div class="terms">
                <div class="content" ng-bind-html="term">
                </div>
                <div class="agree">
                    <div class="checkbox">
                        <label class="left-half-margin ng-binding">
                            위 내용을 모두 읽었으며, 내용에 동의합니다.
                            <input ng-click="agreeAction($index)" ng-model="cafe.agree[$index]" type="checkbox">
                            <span class="checkbox-material right-half-margin"><span class="check"></span></span>
                        </label>
                    </div>
                </div>
                <div ng-show='error.agree[$index]' class="error pull-center"> 동의가 필요합니다. </div>
            </div>
        </div>
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">STEP 2</h2>
        <h3 class="fs-subtitle">카페에 대한 기본 정보를 입력해주세요</h3>
        <div ng-show="error.name" class="error pull-left">{{ error.name }}</div>
        <input type="text" ng-click='initForm("name")' ng-model="cafe.name" placeholder="카페 이름" />
        <div ng-show='error.detail' class="error pull-left">{{ error.detail }}</div>
        <input type="text" ng-click='initForm("detail")' ng-model="cafe.detail" placeholder="카페 설명" />
        <div ng-show='error.phone' class="error pull-left">{{ error.phone }}</div>
        <input type="text" ng-click='initForm("phone")' ng-model="cafe.phone" placeholder="전화 번호" />
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">STEP 3</h2>
        <h3 class="fs-subtitle">카페의 위치를 정확하게 입력해주세요</h3>
        <div id="tMap"></div>
        <input type="text" ng-model="cafe.address" class="postcodify_address top-full-margin" placeholder="도로명 주소를 검색"/>
        <input type="text" ng-model="cafe.detailAddress" class="detail-address" placeholder="상세 주소를 기입 해주세요"/>
        <div>
            <div class="checkbox">
                <label class="left-half-margin ng-binding">
                    지도에 표시된 위치가 정확한가요?
                    <input ng-model="cafe.locationConfirm" type="checkbox">
                </label>
            </div>
        </div>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
        <h2 class="fs-title">STEP 4</h2>
        <h3 class="fs-subtitle">카페를 소개하는 이미지를 등록하세요</h3>
        <input type="text" name="fname" placeholder="First Name" />
        <input type="text" name="lname" placeholder="Last Name" />
        <input type="text" name="phone" placeholder="Phone" />
        <textarea name="address" placeholder="Address"></textarea>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
</form>