<div class="row no-margin no-padding">
    <div class="col-sm-9 no-margin no-padding">
        <div id="tMap"></div>
    </div>
    <div class="col-sm-3 top-full-padding">
        <div id="search_form">
            <fieldset style="background: transparent; margin:0; padding:0; width:100%">
                <div style="width:100%" class="input-group">
                    <input id="search_term" ng-keyup="makeQuery()" type="text" class="form-control postcodify_address" placeholder="현재 위치를 입력하세요.">
                </div>
                <div class="btn-group btn-group-justified btn-group-raised">
                    <a ng-click="makeQuery(500)" href="javascript:void(0)" class="btn ">500M</a>
                    <a ng-click="makeQuery(1000)" href="javascript:void(0)" class="btn ">1Km</a>
                    <a ng-click="makeQuery(5000)" href="javascript:void(0)" class="btn ">5Km</a>
                </div>
            </fieldset>
            <fieldset style="background: transparent; margin:0; padding:0; width:100%">
                <p ng-hide="cafe_list.length" class="bg-default full-padding">검색 결과가 없습니다.</p>
                <div id="cafe_list" ng-show="cafe_list.length" style="overflow-y: auto">
                    <div ng-repeat="cafe in cafe_list">
                        <div class="panel panel-default bottom-half-margin">
                            <div ng-click="focusCafe(cafe)" class="panel-body pointer-cursor">
                                <span class="label label-primary">{{cafe.dist_str}}</span>
                                {{ cafe.name }}
                                <i ng-click="showPath($event, cafe, 'pedestrian')" class="pull-right material-icons pointer-cursor">directions_walk</i>
                                <i ng-click="showPath($event, cafe, 'bicycle')" class="pull-right material-icons pointer-cursor">directions_bike</i>
                                <i ng-click="showPath($event, cafe, '')" class="pull-right material-icons pointer-cursor">directions_car</i>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>