<div class="search_background">
</div>
<div class="row cafe_list">
    <div ng-repeat="cafe in cafes">
        <div class="cafe_item ">
            <a href="#/cafes/{{cafe._id}}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="thumbnail no-margin">
                            <img ng-hide="cafe.images.length" src="/images/cafe_default.png">
                            <img ng-show="cafe.images.length" src='/image/cafe/{{cafe.images[0]}}'>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row no-margin">
                            {{ cafe.name }}
                            <div class="right">
                                <a href="javascript:void(0)" class="btn btn-xs no-margin">like</a>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>