@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

a{
    text-decoration: none !important;
}

.NanumGothic{
    font-family: 'Nanum Gothic Coding', serif;
}

.NanumBrush{
    font-family: 'Nanum Brush Script', serif;
}

.row {
  margin-top:15px;
  margin-left:15px;
  margin-right:15px;
}

.no-margin{
  margin:0;
}

.top-half-margin{
    margin-top:7px;
}

.top-full-margin{
    margin-top:15px;
}

.bottom-half-margin{
    margin-bottom:7px;
}

.bottom-full-margin{
    margin-bottom: 15px;
}

.left-full-margin{
  margin-left:15px;
}

.left-half-margin{
  margin-left:7px;
}

.right-full-margin{
  margin-right:15px;
}

.right-half-margin{
  margin-right:7px;
}

.left{
  float:left;
}

.right{
  float:right;
}

.block {
  display:block;
}

.full-padding{
  padding:15px;
}

.menu-name{
  margin-left:15px;
  margin-bottom: 15px;
}

.menu-name .name{
  margin-right:7px;
}

.menu-count{
  margin-left:7px;
  margin-right:7px;
}

.list-group-item .row-content .control{
    position:absolute;
    right:14px;
    bottom:0;
}

.pull-left{
  text-align: left;
}

.pull-right{
  text-align: right;
}

.pull-center{
  text-align: center;
}

.thumbnail img {
  width:250px;
  height:250px;
}

.thumbnail .caption h3{
  text-align: center;
}

.bs-example {
  margin-bottom: 20px;
}

.carousel-caption {
  top: calc(50% - 20px);
  bottom:auto;
  padding: 0;
  font-size:40px;
}

.option-block{
  margin-bottom: 30px;
}

.fix{
    position:fixed;
}

.right-conner-1{
    bottom:5%;
    right:5%;
    -webkit-transition: bottom 300ms ease;
    -moz-transition: bottom 300ms ease;
    -o-transition: bottom 300ms ease;
    -ms-transition: bottom 300ms ease;
    transition: bottom 300ms ease;
}

.right-conner-2{
    bottom:calc(5% + 65px);
    right:5%;
    -webkit-transition: bottom 300ms ease;
    -moz-transition: bottom 300ms ease;
    -o-transition: bottom 300ms ease;
    -ms-transition: bottom 300ms ease;
    transition: bottom 300ms ease;
}

.ground {
    bottom: -10%;
}

@media screen and (min-width: 300px) and (max-width: 900px){
    .cafe_list{
        padding-left:calc((100% - 300px)/2);
        padding-right:calc((100% - 300px)/2);
    }
    .cafe_item{
        float:left;
        width:100%;
    }
}

.cafe_item {
    padding-left:7px;
    padding-right:7px;
    float:left;
}
.nav-top-fixed-body{
    padding-top:50px;
}
@media screen and (min-width: 600px) and (max-width: 900px){
    .cafe_list{
        padding-left:calc((100% - 600px)/2);
        padding-right:calc((100% - 600px)/2);
    }
    .cafe_item{
        width:50%;
    }
}
@media screen and (min-width:900px) and (max-width: 1200px){
    .cafe_list{
        padding-left:calc((100% - 900px)/2);
        padding-right:calc((100% - 900px)/2);
    }
    .cafe_item{
        width: 33.33333333%
    }
}
@media screen and (min-width:1200px) and (max-width: 9999px){
    .cafe_list{
        padding-left:calc((100% - 1200px)/2);
        padding-right:calc((100% - 1200px)/2);
    }
    .cafe_item{
        width:25%;
    }
}

.search_background{
    width:100%;
    height:200px;
    background-image: url('/images/search_background.jpg');
    background-size:cover;
    background-position-x: center;
    background-position-y: center;
    margin-bottom: 15px;
}

.terms {
    height:230px;
    margin-bottom: 60px;
}

.terms .content {
    height: 200px;
    overflow-x:auto;
    overflow-y:scroll;
    text-align: left;
}

.terms .content .el{
    padding-left:20px;
}

.terms .content .el .number {
    margin-left:-20px;
}

.terms .agree{
    margin-top: 20px;
    height:30px;
}

.error {
    font-size: 10px;
    color:#aa0000;
}

#info_form fieldset,
#search_form fieldset {
    background: white;
    border: 0 none;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

#info_form input, #info_form textarea,
#search_form input, #search_form textarea {
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

.menu-item {
    position:relative;
    padding:10px;
    height:70px;
}

.menu-item img{
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 100%;
    width:50px;
    height:50px;
}

.menu-item .menu-info {
    overflow: hidden;
    width:400px;
    margin-left:70px;
}

.menu-item .menu-info .name {
    font-size:20px;
    color:#000;
}

.menu-item .menu-info .detail {
    font-size:14px;
    color:#000;
}

.menu-cost {
    position: absolute;
    top:25px;
    right:10px;
    font-size:16px;
    color:#000;
}

.option-group {
    margin-top: 15px;
    margin-bottom: 7px;
}

.option-group:hover {
    color: #009688;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.option-item {
    cursor: pointer;
    padding: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.option-item:hover {
    background-color: #009688;
    color: #fff;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.response-form,
.loading-form,
.menu-form,
.option-form,
.sub-option-form{
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-sizing: border-box;
    bottom: 0;
    display: none;
    position: fixed;
}

.response-form{
    padding-top:10px;
    height:40px;
}
.response {
    text-align: center;
}
.loading-form {
    height:150px;
}

@media (min-width: 768px) {
    .response-form,
    .loading-form,
    .menu-form,
    .option-form,
    .sub-option-form{
        width:calc(100% - 250px);
        left:250px;
    }
}

@media (max-width: 768px) {
    .response-form,
    .loading-form,
    .menu-form,
    .option-form,
    .sub-option-form{
        width:100%;
        left:0;
    }
}

@media (max-width: 992px) {
    #space,
    .menu-form {
        height: 650px;
    }
    .option-form,
    .sub-option-form{
        height: 400px;
    }
}
@media (min-width: 992px) {
    #space,
    .menu-form {
        height: 400px;
    }
    .option-form,
    .sub-option-form{
        height: 250px;
    }
}

.response-form .close-form,
.menu-form .close-form,
.option-form .close-form,
.sub-option-form .close-form{
    cursor: pointer;
    color:#000;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    margin-top:7px;
}

.response-form .close-form:hover,
.menu-form .close-form:hover,
.option-form .close-form:hover,
.sub-option-form .close-form:hover{
    color:#000;
    text-decoration: none;
    filter: alpha(opacity=50);
    opacity: .5;
}

.response-form .input-form,
.loading-form .input-form,
.menu-form .input-form,
.option-form .input-form,
.sub-option-form .input-form {
    margin:auto;
    width:550px;
}

.menu-form input[type=file],
.option-form input[type=file],
.sub-option-form input[type=file]{
    display: none;
}

.menu-form .touch,
.option-form .touch,
.sub-option-form .touch {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.menu-form .touch:hover,
.option-form .touch:hover,
.sub-option-form .touch:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.hover-message {
    position:relative;
    bottom: 50px;
    height:0;
}

.select-form {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-sizing: border-box;
    bottom: 0;
    display: none;
    position: fixed;
    height:40px;
}

.select-form .header{
    cursor: pointer;
    color:#000;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=70);
    opacity: .7;
    margin-top:10px;
}

@media (min-width: 768px) {
    .select-form {
        width:calc(100% - 250px);
        left:250px;
    }
}

@media (max-width: 768px) {
    .select-form {
        width: 100%;
        left: 0;
    }
}

.loader,
.loader:before,
.loader:after {
    background: #009688;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader {
    color: #009688;
    text-indent: -9999em;
    margin: 60px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

#image_slide {
    height: 300px;
}

.head-message{
    position:relative;
    top:calc(50% - 30px);
    font-size:40px;
    color:white;
    font-family: 'Nanum Brush Script', serif;
    text-shadow: 20px, 20px, #000000;
}

.head-under-message{
    font-size:20px;
    color:white;
    font-family: 'Nanum Brush Script', serif;
}