@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

.NanumGothic{
    font-family: 'Nanum Gothic Coding', serif;
}

.NanumBrush{
    font-family: 'Nanum Brush Script', serif;
}

.row {
  margin-top:15px;
  margin-left:15px;
  margin-right:15px;
}

.no-margin{
  margin:0;
}

.top-half-margin{
    margin-top:7px;
}

.top-full-margin{
    margin-top:15px;
}

.bottom-half-margin{
    margin-bottom:7px;
}

.bottom-full-margin{
    margin-bottom: 15px;
}

.left-full-margin{
  margin-left:15px;
}

.left-half-margin{
  margin-left:7px;
}

.right-full-margin{
  margin-right:15px;
}

.right-half-margin{
  margin-right:7px;
}

.left{
  float:left;
}

.right{
  float:right;
}

.block {
  display:block;
}

.full-padding{
  padding:15px;
}

.menu-name{
  margin-left:15px;
  margin-bottom: 15px;
}

.menu-name .name{
  margin-right:7px;
}

.menu-info{
}

.menu-count{
  margin-left:7px;
  margin-right:7px;
}

.list-group-item .row-content .control{
    position:absolute;
    right:14px;
    bottom:0;
}

.pull-left{
  text-align: left;
}

.pull-right{
  text-align: right;
}

.pull-center{
  text-align: center;
}

.thumbnail img {
  width:250px;
  height:250px;
}

.thumbnail .caption h3{
  text-align: center;
}

.bs-example {
  margin-bottom: 20px;
}

.carousel-caption {
  top: calc(50% - 20px);
  bottom:auto;
  padding: 0;
  font-size:40px;
}

.option-block{
  margin-bottom: 30px;
}

.fix{
    position:fixed;
}

.right-conner-1{
    bottom:5%;
    right:5%;
}

.right-conner-2{
    bottom:calc(5% + 65px);
    right:5%;
}

@media screen and (min-width: 300px) and (max-width: 900px){
    .cafe_list{
        padding-left:calc((100% - 300px)/2);
        padding-right:calc((100% - 300px)/2);
    }
    .cafe_item{
        float:left;
        width:100%;
    }
}

.cafe_item {
    padding-left:7px;
    padding-right:7px;
    float:left;
}
.nav-top-fixed-body{
    padding-top:50px;
}
@media screen and (min-width: 600px) and (max-width: 900px){
    .cafe_list{
        padding-left:calc((100% - 600px)/2);
        padding-right:calc((100% - 600px)/2);
    }
    .cafe_item{
        width:50%;
    }
}
@media screen and (min-width:900px) and (max-width: 1200px){
    .cafe_list{
        padding-left:calc((100% - 900px)/2);
        padding-right:calc((100% - 900px)/2);
    }
    .cafe_item{
        width: 33.33333333%
    }
}
@media screen and (min-width:1200px) and (max-width: 9999px){
    .cafe_list{
        padding-left:calc((100% - 1200px)/2);
        padding-right:calc((100% - 1200px)/2);
    }
    .cafe_item{
        width:25%;
    }
    .nav-top-fixed-body{
        padding-top:60px;
    }
}

.search_background{
    width:100%;
    height:200px;
    background-image: url('http://127.0.0.1:3000/images/search_background.jpg');
    background-size:cover;
    background-position-x: center;
    background-position-y: center;
    margin-bottom: 15px;
}