<div id="search_form">
    <fieldset>
        <div class="input-group">
            <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default btn-raised dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">{{category_filter}}</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="category in categories">
                        <a ng-click="selectFilter(category)">{{category}}</a>
                    </li>
                </ul>
            </div>
            <input id="search_term" ng-keyup="makeQuery()" type="text" class="form-control" placeholder="검색할 메뉴를 입력하세요">
        </div>
    </fieldset>
    <fieldset>
        <p ng-hide="menus.length" class="bg-default full-padding">등록된 메뉴가 없습니다.</p>
        <div ng-show="menus.length">
            <div ng-repeat="menu in menus track by $index">
                <ul class="cd-accordion-menu animated">
                    <div><span class="label label-primary">{{menu.category}}</span></div>
                    <li class="has-children">
                        <input type="checkbox" name ="{{menu._id}}" id="{{menu._id}}">
                        <label ng-click="selectMenu($index)" for="{{menu._id}}">
                            <div class="menu-item">
                                <img src="{{menu.image}}" onerror="this.src='/images/coffee_default.png'">
                                <div class="menu-info">
                                    <div class="name">{{menu.name}}</div>
                                    <div class="detail">{{menu.detail}}</div>
                                </div>
                                <div class="menu-cost">{{menu.cost}} 원</div>
                            </div>
                        </label>
                        <ul ng-repeat="option in menu.options track by $index">
                            <li ng-click="selectOption($index)" ng-hide="option.options.length"><a><div class="option-item">{{option.name}}</div></a></li>
                            <li ng-show="option.options.length"  class="has-children">
                                <input type="checkbox" name ="{{menu._id}}-{{$index}}" id="{{menu._id}}-{{$index}}">
                                <label ng-click="selectOption($index)" class="option-group" for="{{menu._id}}-{{$index}}">{{option.name}}</label>
                                <ul>
                                    <li ng-repeat="option in option.options track by $index"><a ng-click="selectSubOption($index)"><div class="option-item">{{option.name}}</div></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </fieldset>
    <div id="space"></div>
</div>
<div class="menu-form">
    <input id="menu_img" type="file"/>
    <div class="close-form" ng-click="prevState()"><i class="material-icons">keyboard_arrow_down</i></div>
    <div class="input-form">
        <fieldset>
        <div class="form-group is-empty pull-center">
            <img id="menu_img_preview" class="touch" src="/images/coffee_default.png" onerror="this.src='/images/coffee_default.png'"/>
            <div class="hover-message">클릭해서 이미지를 등록하세요</div>
        </div>
        <div class="form-group is-empty">
            <label for="menu_category" class="col-md-2 control-label">카테고리</label>
            <div class="col-md-10">
                <input ng-model="selectedMenu.category" type="text" class="form-control" id="menu_category" placeholder="카테고리를 입력하세요">
            </div>
            <span class="material-input"></span>
        </div>
        <div class="form-group is-empty">
            <label for="menu_name" class="col-md-2 control-label">이름</label>
            <div class="col-md-10">
                <input ng-model="selectedMenu.name" type="text" class="form-control" id="menu_name" placeholder="이름을 입력하세요">
            </div>
            <span class="material-input"></span>
        </div>
        <div class="form-group is-empty">
            <label for="menu_detail" class="col-md-2 control-label">설명</label>
            <div class="col-md-10">
                <input ng-model="selectedMenu.detail" type="text" class="form-control" id="menu_detail" placeholder="설명을 입력하세요">
            </div>
            <span class="material-input"></span>
        </div>
        <div class="form-group is-empty">
            <label for="menu_cost" class="col-md-2 control-label">가격</label>
            <div class="col-md-10">
                <input ng-model="selectedMenu.cost" type="text" class="form-control" id="menu_cost" placeholder="가격을 입력하세요">
            </div>
            <span class="material-input"></span>
        </div>
        </fieldset>
    </div>
</div>
<div class="option-form">
    <div class="close-form" ng-click="prevState()"><i class="material-icons">keyboard_arrow_down</i></div>
    <div class="input-form">
        <fieldset>
            <div class="form-group is-empty">
                <label for="option_name" class="col-md-2 control-label">이름</label>
                <div class="col-md-10">
                    <input ng-model="selectedOption.name" type="text" class="form-control" id="option_name" placeholder="이름을 입력하세요">
                </div>
                <span class="material-input"></span>
            </div>
            <div class="form-group is-empty">
                <label for="option_detail" class="col-md-2 control-label">설명</label>
                <div class="col-md-10">
                    <input ng-model="selectedOption.detail" type="text" class="form-control" id="option_detail" placeholder="설명을 입력하세요">
                </div>
                <span class="material-input"></span>
            </div>
            <div class="form-group is-empty">
                <label for="option_cost" class="col-md-2 control-label">가격</label>
                <div class="col-md-10">
                    <input ng-model="selectedOption.cost" type="text" class="form-control" id="option_cost" placeholder="가격을 입력하세요">
                </div>
                <span class="material-input"></span>
            </div>
        </fieldset>
    </div>
</div>
<div class="sub-option-form">
    <div class="close-form" ng-click="prevState()"><i class="material-icons">keyboard_arrow_down</i></div>
    <div class="input-form">
        <fieldset>
            <div class="form-group is-empty">
                <label for="sub_option_name" class="col-md-2 control-label">이름</label>
                <div class="col-md-10">
                    <input ng-model="selectedSubOption.name" type="text" class="form-control" id="sub_option_name" placeholder="이름을 입력하세요">
                </div>
                <span class="material-input"></span>
            </div>
            <div class="form-group is-empty">
                <label for="sub_option_detail" class="col-md-2 control-label">설명</label>
                <div class="col-md-10">
                    <input ng-model="selectedSubOption.detail" type="text" class="form-control" id="sub_option_detail" placeholder="설명을 입력하세요">
                </div>
                <span class="material-input"></span>
            </div>
            <div class="form-group is-empty">
                <label for="sub_option_cost" class="col-md-2 control-label">가격</label>
                <div class="col-md-10">
                    <input ng-model="selectedSubOption.cost" type="text" class="form-control" id="sub_option_cost" placeholder="가격을 입력하세요">
                </div>
                <span class="material-input"></span>
            </div>
        </fieldset>
    </div>
</div>
<div class="select-form">
    <div class="header">
        <span ng-show="selectedMenu" class="label label-primary">{{selectedMenu.name}}</span>
        <span ng-show="selectedOption"> >> <span class="label label-primary">{{selectedOption.name}}</span></span>
        <span ng-show="selectedSubOption"> >> <span class="label label-primary">{{selectedSubOption.name}}</span></span>
    </div>
</div>
<div class="loading-form">
    <div class="input-form">
        <div class="loader"></div>
    </div>
</div>
<div class="response-form">
    <div class="input-form">
        <div class="response">{{ serverResponse }}</div>
    </div>
</div>
<div id="create" ng-click="selectMenu()"
   data-toggle="tooltip" data-placement="top" title="" data-original-title="새로운 메뉴를 등록합니다."
   style="position:fixed;" class="btn btn-primary btn-fab right-conner-1">
    <i class="material-icons">add</i>
    <div class="ripple-container"></div>
</div>
<div id="request" ng-click="requestPost()"
     data-toggle="tooltip" data-placement="top" title="" data-original-title="서버에 내용을 전송합니다."
     style="position:fixed;" class="btn btn-primary btn-fab right-conner-1 ground">
    <i class="material-icons">check</i>
    <div class="ripple-container"></div>
</div>
<div id="delete" ng-click="requestDelete()"
     data-toggle="tooltip" data-placement="top" title="" data-original-title="삭제합니다."
     style="position:fixed;" class="btn btn-warning btn-fab right-conner-2 ground">
    <i class="material-icons">delete</i>
    <div class="ripple-container"></div>
</div>
<div id="modify_menu" ng-click="changeState('modifyMenu')"
     data-toggle="tooltip" data-placement="top" title="" data-original-title="메뉴를 수정합니다."
     style="position:fixed;" class="btn btn-success btn-fab right-conner-2 ground">
    <i class="material-icons">mode_edit</i>
    <div class="ripple-container"></div>
</div>
<div id="append_option" ng-click="selectOption()"
     data-toggle="tooltip" data-placement="top" title="" data-original-title="옵션을 추가합니다."
     style="position:fixed;" class="btn btn-primary btn-fab right-conner-1 ground">
    <i class="material-icons">add</i>
    <div class="ripple-container"></div>
</div>
<div id="modify_option" ng-click="changeState('modifyOption')"
     data-toggle="tooltip" data-placement="top" title="" data-original-title="옵션을 수정합니다."
     style="position:fixed;" class="btn btn-success btn-fab right-conner-2 ground">
    <i class="material-icons">mode_edit</i>
    <div class="ripple-container"></div>
</div>
<div id="append_sub_option" ng-click="selectSubOption()"
     data-toggle="tooltip" data-placement="top" title="" data-original-title="하위 옵션을 추가합니다."
     style="position:fixed;" class="btn btn-primary btn-fab right-conner-1 ground">
    <i class="material-icons">add</i>
    <div class="ripple-container"></div>
</div>
<div id="modify_sub_option" ng-click="changeState('modifySubOption')"
     data-toggle="tooltip" data-placement="top" title="" data-original-title="하위 옵션을 수정합니다."
     style="position:fixed;" class="btn btn-success btn-fab right-conner-1 ground">
    <i class="material-icons">mode_edit</i>
    <div class="ripple-container"></div>
</div>
<div id="confirm" ng-click="prevState()"
     data-toggle="tooltip" data-placement="top" title="" data-original-title="뒤로 돌아갑니다."
     style="position:fixed;" class="btn btn-primary btn-fab right-conner-1 ground">
    <i class="material-icons">check</i>
    <div class="ripple-container"></div>
</div>