<div class="text-center">{{year}} 년</div>
<div class="chart-container">
    <canvas id="bar" class="chart chart-bar" chart-data="year_data" chart-labels="year_labels" chart-series="series" ></canvas>
</div>
<div class="text-center">{{month}} 월</div>
<div class="chart-container">
    <canvas id="bar" class="chart chart-bar" chart-data="month_data" chart-labels="month_labels" chart-series="series" ></canvas>
</div>
<div class="text-center">{{date}} 월</div>
<div class="chart-container">
    <canvas id="bar" class="chart chart-bar" chart-data="date_data" chart-labels="date_labels" chart-series="series" ></canvas>
</div>